body{margin: 0;background-color: silver;direction: rtl;}
.all_site{max-width: 960px;background-color: white;margin: auto;height: 500px;}
.box{width: 100px;height: 100px;background-color: tomato; border: solid 1px black;float: left;}